body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    color: white;
    background-color: rgb(2, 52, 2);
}

#board {
    background-image: url("/src/img/fundo.jpeg");
    background-size: 1100px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 80%;
}